{% extends "layout.html" %}

{% block title %}
    Data Input Form
{% endblock %}

{% block main %}
    <style>
        .form-container {
            width: 80%; /* Adjust the width as needed */
            margin: auto; /* Center the form container */
        }

        table {
            width: 100%; /* Make the table take up the full width of the form container */
        }

        td:first-child {
            font-weight: bold;
        }

        td {
            padding: 8px; /* Add padding for better spacing */
        }



        button {
            width: 100%; /* Make the button take up the full width of its parent */
            box-sizing: border-box; /* Include padding and border in the width */
        }

        .form-title {
            font-size: 24px; /* Adjust the font size as needed */
            font-weight: bold;
            margin-bottom: 16px; /* Add margin for better spacing */
        }
    </style>

<div class="container">
    <div class="section form-container">
        <div class="form-title">Data Input Form:</div>
        <form action="/add_data" method="post">
            <table>
                    <tr>
                        <td><label for="pH">pH:</label></td>
                        <td><input type="number" step="any" id="pH"  required name="ph"></td>
                    </tr>
                    <tr>
                        <td><label for="BOD">BOD:</label></td>
                        <td><input type="number" step="any" id="BOD"  required name="bod"></td>
                    </tr>
                    <tr>
                        <td><label for="COD">COD:</label></td>
                        <td><input type="number" step="any" id="COD"  required name="cod"></td>
                    </tr>
                    <tr>
                        <td><label for="temperature">Temperature:</label></td>
                        <td><input type="number" step="any" id="temperature"  required name="temperature"></td>
                    </tr>
                    <tr>
                        <td><label for="ammonia">Ammonia (mg/ml):</label></td>
                        <td><input type="number" step="any" id="ammonia"  required name="ammonia"></td>
                        
                    </tr>
                    <tr>
                        <td><label for="arsenic">Arsenic (mg/ml):</label></td>
                        <td><input type="number" step="any" id="arsenic"  required name="arsenic"></td>
                    </tr>
                    <tr>
                        <td><label for="calcium">Calcium (mg/ml):</label></td>
                        <td><input type="number" step="any" id="calcium"  required name="calcium"></td>
                    </tr>
                    <tr>
                        <td><label for="EC">EC (µS/cm):</label></td>
                        <td><input type="number" step="any" id="EC"  required name="ec"></td>
                    </tr>
                    <tr>
                        <td><label for="coliform">Coliform (Faecal) (N/100ml):</label></td>
                        <td><input type="number" step="any" id="coliform"  required name="coliform"></td>
                    </tr>
                    <tr>
                        <td><label for="hardness">Hardness (mg/ml):</label></td>
                        <td><input type="number" step="any" id="hardness"  required name="hardness"></td>
                    </tr>
                    <tr>
                        <td><label for="lead">Lead (mg/l):</label></td>
                        <td><input type="number" step="any" id="lead"  required name="lead_pb"></td>
                    </tr>
                    <tr>
                        <td><label for="nitrogen">Nitrogen (Nitrate) (mg/l):</label></td>
                        <td><input type="number" step="any" id="nitrogen"  required name="nitrogen"></td>
                    </tr>
                    <tr>
                        <td><label for="sodium">Sodium (mg/l):</label></td>
                        <td><input type="number" step="any" id="sodium"  required name="sodium"></td>
                    </tr>
                    <tr>
                        <td><label for="sulfate">Sulphate (mg/l):</label></td>
                        <td><input type="number" step="any" id="sulfate"  required name="sulfate"></td>
                    </tr>
                    <tr>
                        <td><label for="TSS">TSS (mg/l):</label></td>
                        <td><input type="number" step="any" id="TSS"  required name="tss"></td>
                    </tr>
                    <tr>
                        <td><label for="turbidity">Turbidity (NTU):</label> </td>
                        <td><input type="number" step="any" id="turbidity"  required name="turbidity"></td>
                    </tr>
                    <tr>
                        <td><label for="turbidity">TDS :</label> </td>
                        <td><input type="number" step="any" id="tds"  required name="tds"></td>
                    </tr>


                    <td colspan="2"><button type="submit" class="btn btn-primary">Submit</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}