{% extends "layout.html" %}

{% block title %}
    Admin Edit Location
{% endblock %}

{% block header %}
    : Admin Edit Location 
{% endblock %}
    
{% block main %}
    
<div class="section">
    <h4>Leave the fields that you dont want to edit blank.</h4> 
    <h4>Location name must be unique.</h4> 
    <form action="/admin_location_edit" method="post">
        Location Name <br>
        <input type="text" autocomplete="off" name="location_name" placeholder="{{ location_data[0] }}"> <br><br>
        Description <br>
        <input type="text" autocomplete="off" name="description" placeholder="{{ location_data[1] }}"> <br><br>
        Latitude <br>
        <input type="number" step="any" autocomplete="off" name="latitude" placeholder="{{ location_data[2] }}"> <br><br>
        Longitude <br>
        <input type="number" step="any" autocomplete="off" name="longitude" placeholder="{{ location_data[3] }}"> <br><br>
        <br> <br>
        <input hidden name="location_id" value="{{ location_id }}">
        <button type="submit">Save Changes</button>
    </form>
</div>

<!--Deleate location confermation script-->
<script>
    function confirm_delete() {
        var confirmation = confirm("Are you sure you want to delete this location?");
        if (confirmation) {
            document.getElementById("delete_location_form").submit();
        }
    }
</script>

<div class="section">
    <form action="delete_location" id="delete_location_form" method="post">
        <button type="button" onclick="confirm_delete()">Delete Location</button>
        <input type="hidden" name="location_id" value="{{ location_id }}">
    </form>
</div>

{% endblock %}