{% extends "layout.html" %}

{% block title %}
    Admin Edit User
{% endblock %}

{% block header %}
    : Admin Edit User 
{% endblock %}
    
{% block main %}

    <div class="section">
        <h4>Leave the fields that you dont want to edit blank.</h4> 
        <h4>Username and email must be unique.</h4> 

        <form action="/admin_user_edit" method="post">
            First Name  <br>
            <input type="text" autocomplete="off" name="first_name" placeholder="{{ user_data[4] }}"> <br><br>
            Last Name <br>
            <input type="text" autocomplete="off" name="last_name" placeholder="{{ user_data[5] }}"> <br><br>
            Username <br>
            <input type="text" name="user_name" placeholder="{{ user_data[0] }}" autocomplete="off"> <br><br>
            Email <br>
            <input type="email" name="email" placeholder="{{ user_data[1] }}" autocomplete="off"> <br><br>

            New Password <br>
            <input type="password" name="password" placeholder="New Password" autocomplete="off"> <br><br>
            Re-enter Password <br>
            <input type="password" name="password_again" placeholder="Re-enter Password" autocomplete="off"> <br><br>
            Latitude <br>
            <input type="number" step="any" autocomplete="off" name="latitude" placeholder="{{ user_data[2] }}"> <br><br>
            Longitude <br>
            <input type="number" step="any" autocomplete="off" name="longitude" placeholder="{{ user_data[3] }}"> <br><br>

            User Type <br>
            <select name="user_type">
                <option value="V">Viewer</option>
                <option value="R">Researcher</option>                
            </select>

            <br> <br>
            <input hidden name="user_id" value="{{ user_id }}">
            <button type="submit">Save Changes</button>
        </form>
    </div>

    <!--Delete user confirmation script-->
    <script>
        function confirm_delete() {
            var confirmation = confirm("Are you sure you want to delete this user?");
            if (confirmation) {
                document.getElementById("delete_user_form").submit();
            }
        }
    </script>

    <div class="section">
        <form action="delete_user" id="delete_user_form" method="post">
            <button type="button" onclick="confirm_delete()" class="btn btn-danger">Delete User</button>
            <input type="hidden" name="user_id" value="{{ user_id }}">
        </form>
    </div>

{% endblock %}
